<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.B01UserMapper">

<select id="get" resultType="com.example.demo.entity.B01User">
    select * from b01_user
</select>

</mapper>